/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 1, 2019, 9:29:33 PM
    Author     : Irwan Yanwari
*/

a, a:visited, a:active, a:hover {
    color: #73879C;
    text-decoration: none; 
}

.icon-end {
    font-size: .7em;
    padding-right: 10px;
}

.separator {
    clear: both;
}

.full-height { 
    height: 100%;
    min-height: 50px;
}

.user-menu {
    padding-right: 10px;
    min-width: 100px;
    right: 50px;
}

.user-menu .user-btn {
    color: #ced4ca;
    background-color: #163d5e;
    border: none;
}

.main-logo {
    height: 30px;
}

.right-menu, .float-right {
    float: right;
}

.right-menu {
    padding-right: 15px;
}

.left-menu, .float-left {
    float: left;
}

.left-menu {
    padding: 0;
    max-width: 200px;
    overflow: hidden;
    position: fixed;
}

.user-info {
    max-width: 160px;
    padding: 20px;
}

.user-info > a, .user-info > a:hover {
    text-decoration: none;
}

.user-menu-img {
    text-align: center;
    width: 30px;
    height: 30px;
    -khtml-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    overflow: hidden;
}

.user-avatar {
    margin: auto auto;
    margin-top: 70px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(255, 255, 255, 1);
    -khtml-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden;
}

.avatar {
    width: 100px;
    height: 100px;
}

.user-name {
    color: #ffffff;
    text-align: right;
    margin: 0;
    padding: 0;
    font-size: .9em;
}

.user-status {
    text-align: right;
    margin: 0;
    padding: 0;
    font-size: .7em;
}

.main-navigation {
    padding: 10px;
    margin: 20px 0;
}

.container {
    margin-left: 20px;
    padding-left: 20px;
    color: #73879C;
}

.page {
    color: #000000;
    padding: 50px;
    padding-left: 220px;
}

.content-head h3 {
    border: #ced4ca solid 1px;
    padding: 10px;
    font-size: 1.4em;
}

.content-body {
    margin-top: 20px;
}

.location {
    font-size: .7em;
    padding-left: 20px;
}
.location a:active, .location a:hover, .location a:visited {
    color: #163d5e;
    text-decoration: none;
}

.dashboard-logo::after {
    clear: both;
}

.main-user {
    width: 30px;
}

.aside {
    color: #73879C;
    font-weight: 700;
    margin: 5px;
    padding: 10px;
    border: #ced4ca solid 1px;
}

.aside a, .aside a:hover {
    color: #73879C;
    text-decoration: none;
}

.aside a:hover {
    color: #ced4ca;
}

.aside > h3 {
    font-size: .9em;
}

.aside > span {
    font-size: 2em;
}

.status:before, .status:after {
    clear: both;
}

.status, .data {
    padding: 10px;
}

.data {
    width: 100%;
    border: #ced4ca solid 1px;
    padding: 10px;
    margin: 0 20px;
}

.data h3 {
    font-size: 1.4em;
}

.datatable, .datatable tr, .datatable td{
    padding: 0;
    margin: 0;
}

.datatable {
    width: 100%;
}

.datatable a, .datatable a:hover, .datatable a:visited {
    color: #000000;
}

.datatable .datatable-heading {
    text-align: center;
    background-color: #0056b3;
}

.datatable .datatable-heading .datatable-heading-column{
    padding: 5px;
    border: #005cbf solid 1px;
    color: #ffffff;
    font-weight: 700;
}

.datatable .datatable-oddnumber {
    background-color: rgba(0, 0, 0, .1);
}

.datatable .datatable-datarow-column .subdata {
    font-size: .7em;
}

.datatable .datatable-datarow-column {
    padding-bottom: 10px;
    padding-top: 10px;
}

.input-block {
    padding-top: 15px;
}

.input-block-closing {
    padding-top: 40px;
    padding-bottom: 30px;
}

.datatable a, .datatable a:visited, .datatable a:active, .datatable a:hover {
    text-decoration: none; 
}

.paging-section, .paging-section-close {
    clear: both;
}

.paging-section {
    padding: 10px;
}

.paging-section .paging-nonaktif, .paging-section .paging-aktif {
    float: left;
    padding: 3px 10px;
    border: #005cbf solid 1px;
    margin-right: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.paging-section .paging-nonaktif a, .paging-section .paging-nonaktif a:visited, .paging-section .paging-nonaktif a:hover {
    color: #005cbf;
    text-decoration: none;
}

.paging-section .paging-aktif {
    background-color: #005cbf;
    color: #ffffff;
    font-weight: 700;
}

#search-key {
    width: 200px;
    padding: 6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: #005cbf solid 1px;
}

.search-btn {
    margin-left: -5px;
    margin-top: -6px;
}

.add-btn {
    margin-top: -5px;
}

.peserta-list {
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    
    border: #005cbf solid 1px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.peserta-list-button {
    float: right;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    text-align: center;
    margin-top: -8px;
    
    background-color: #163d5e;
    border: #005cbf solid 1px;
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.peserta-list-button > a, .peserta-list-button > a:hover, .peserta-list-button > a:visited {
    color: #ffffff;
}