/**
 * EASy application bootstrap files
 *
 * Copyright (C) 2016  Muhammad Irwan Yanwari (irwan.yanwari@gmail.com)
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 */
/* 
    Created on : Aug 13, 2016, 10:01:14 AM
    Author     : Irwan Yanwari
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700,700italic);

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #a09c95;
    margin: 0;
    padding: 0;
}

#page {
    height: 100%;
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
}

h1 {
    margin: 0 0 1em 0;
    font-size: 2.8em;
    font-weight: 700;
}

h2 {
    margin: 0 0 .5em 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.1em;
}

h3 {
    margin: 0 0 .5em 0;
    font-size: 1.3em;
    font-weight: 700;
}

h4 {
    margin: 0 0 1.5em 0;
    font-size: 1em;
    font-weight: 700;
}

p {
    margin: 0 0 1em 0;
}

input:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

input:hover, textarea:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}

a {
    color: #555;
    text-decoration: none;
}

a:visited {
    color: #555;
    text-decoration: none;
}

a.btn {
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    border: solid 1px #fff;
    padding: 4px;
    transition: background-color .5s;
}

a.btn:hover {
    background-color: #b4b2a5;
}

header {
    height: 420px;
    background: #030409 url(./images/background-1400.jpg) no-repeat center bottom;
    position: relative;
}

header a.logo {
    z-index: 1;
    position: absolute;
    color: #fff;
    display: block;
    width: 160px;
    font-size: 5em;
    font-weight: 700;
    top: 3px;
    left: 20px;
    text-decoration: none;
}

header div.hero {
    color: #fff;
    position: absolute;
    width: 30%;
    top: 130px;
    left: 65%;
}

section {
    padding: 0 30px;
}
section::after {
    content: "";
    display: block;
    clear:both;
}

section.main {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0;
}

section.main aside {
    width: 33%;
    float: left;
    text-align: center;
}

nav {
    position: absolute;
    background: rgba(100, 100, 100, .60);
    width: 100%;
    padding-top: 40px;
    top: 0;
    left: 0;
    border-bottom: solid 2px #fff;
    font-weight: 700;
}

nav::after {
    content: "";
    display: block;
    clear: both;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li:hover {
    background: rgba(60, 60, 60, .60);
}

nav ul li:hover > ul {display: block;}

nav ul li a {
    color: white;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    width: 125px;
    text-decoration: none;
}

nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    background: rgba(60, 60, 60, .60);
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background: rgba(60, 60, 60, .60);
}

nav > ul {
    padding-left: 250px;
}

nav > ul > li {
    float: left;
}


nav > ul > li > a {
    width: auto;
    padding: 10px 20px 15px 20px;
}

footer {
    width: 100%;
    position: fixed;
    font-size: .8em;
    padding: 10px;
    bottom: 0;
    color: #999;
    background-color: white;
}

footer .content {
    display: inline;
}

footer a {
    margin-left: 30px;
    color: #555;
}

footer a:visited {
    margin-left: 30px;
    color: #555;
}

footer a:hover {
    margin-left: 30px;
    color: #000;
}

@media screen and (max-width: 1200px){
    h1 { font-size: 2.5em; }
    header div.hero { left: 50%; }
    header div.hero h1 { margin-bottom: 15px;}
    a.btn { font-size: 1.4em; }
}

@media screen and (max-width: 1100px){
    h1 { font-size: 2.2em; }
    header div.hero { left: 50%; }
    header div.hero h1 { margin-bottom: 10px;}
    a.btn { font-size: 1.2em; }
}

@media screen and (max-width: 1000px){
    h1 { font-size: 2em; }
    header div.hero { left: 50%; }
    header div.hero h1 { margin-bottom: 10px;}
    a.btn { font-size: 1em; }
}

@media screen and (max-width: 830px){  
    h1 { font-size: 1.8em; }
    header {
        height: 250px;
        background: #030409 url(./images/background-900.jpg) no-repeat center bottom;
    }
    header div.hero { width: 500px; left: auto; right: 10px; margin: auto auto; }
}

@media screen and (max-width: 625px){    
    h1 { font-size: 1.5em; }

    header {
        height: 150px;
        background: #030409 url(./images/background-600.jpg) no-repeat center bottom;
    }
    header div.hero { width: 80%; left: 10px; right: auto; margin: auto auto; top: 30px;}
    section.main {
        padding-bottom: 50px;
    }
    section.main aside {
        width: 50%;
        margin: auto auto;
        margin-top: 20px;
        float: none;
        text-align: center;
    }

    header a.logo {
        display: none;
    }

    nav {position: static; width: auto; padding: 5px;}
    nav ul,
    nav ul ul,
    nav ul ul ul {
        position: static;
        display: block;
    }

    nav > ul {
        padding: 0;
    }

    nav > ul > li{
        padding: 0;
        float: none;
    }

    nav ul li:hover {
        background: none;
    }

    nav ul li a {
        width: 70%;
    }

    nav ul li a:hover {
        background: none;
    }
}

@media screen and (max-width: 470px){ 
    header div.hero { width: 90%; padding: 0; margin: 0; text-align: center; }
    a.btn { font-size: .8em; }
    footer { font-size: .6em; text-align: left; left: 0; padding: 10px; margin: 0;}
    footer .content { display: none; padding: 0; margin: 0;}
}