/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 30, 2019, 8:21:28 AM
    Author     : Irwan Yanwari
*/

.login-head {
    padding: 20px;
    text-align: center;
    padding-bottom: 10px;
}

.login-logo {
    width: 100px;
}

.login-head h3 {
    font-size: 1.2em;
    color: #7380a2;
}

.login-form {
    padding-bottom: 20px;
    border-bottom: #aaaaaa solid 1px;
}

.login-form input {
    margin-top: 10px;
}

.login-footer {
    font-size: .7em;
    color: #7380a2;
}

.login-message {
    text-align: center;
    color: #ff253a;
    font-size: .8em;
}