/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 30, 2019, 8:21:16 AM
    Author     : Irwan Yanwari
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700,700italic);

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.curve-border {
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.center-text {
    text-align: center;
    vertical-align: middle;
}

.cstm-btn, .cstm-input-txt {
    font-size: .8em;
}

.cstm-btn {
    font-weight: 700;
}

.page {
    width: 100%;
}

.small-page {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
}


@media screen and (max-width: 480px){  
    .small-page {
        width: 100%;
    }
}