/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 4, 2019, 8:05:07 AM
    Author     : Irwan Yanwari
*/

.main-navigation {

}

.main-navigation, .main-navigation ul, .main-navigation ol, .main-navigation li {
    padding: 0;
    margin: 0;
}

.main-navigation ol, .main-navigation ul { list-style: none }

.main-navigation li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-navigation > ol > li, .main-navigation > ul > li {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: rgba(255, 255, 255, 0.1) solid 1px;
}

.main-navigation span {
    padding-right: 10px;
}

.main-navigation > ol > li li, .main-navigation > ul > li li {
    padding-left: 20px;
}

.main-navigation a, .main-navigation a:visited, .main-navigation a:hover {
    color: white;
    text-decoration: none;
}

.group-list, .sub-group-list, .sub-sub-group-list {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .7s ease-in-out;
    transition: max-height .7s ease-in-out;
}

.main-navigation input[type=checkbox]:checked + label + ul {
    max-height: 1000px;
}

label > span {
    -webkit-transition: -webkit-transform .65s ease;
    transition: transform .85s ease;
}

.main-navigation input[type=checkbox]:checked + label > span {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}